<?xml version="1.0"?>
<launch>
	<!-- Launch all costum nodes [*.py scripts] -->
	<!-- 	BeatPlanner.py
		InverseKinematic.py
		Player.py
		point_to_point_mapper.py
		TimedMoveQueue.py

		TODO: complete nodes..
	-->
	<node
		name="beat_planner"
		pkg="crustcrawler_dance"
		type="BeatPlanner.py"
		output="screen"
	/>
	<node
		name="timed_queue"
		pkg="crustcrawler_dance"
		type="TimedMoveQueue.py"
		output="screen"
	/>
	<node
		name="inverse_kinematic"
    		pkg="crustcrawler_dance"
    		type="InverseKinematic.py"
    		output="screen"
  	/>
  	<node
    		name="music_player"
    		pkg="crustcrawler_dance"
    		type="Player.py"
    		output="screen"
  	/>
  	<node
    		name="point_to_point"
    		pkg="crustcrawler_dance"
    		type="point_to_point_mapper.py"
    		output="screen"
  	/>

</launch>
